In [66]:
#Creamos un "mini-dataset" a mano para trabajar con Ã©l
datos = {
    'curso': ['dam1', 'dam1', 'asir1', 'asir1', 'asir1', 'af1','dam1'],
    'sexo': ['f','f','m','f','f','m','f'],
    'edad': [18,18,21,19,22,32,30],
    'nivel': ['b1','b2','c1','b2','b2','c2','c1']
}

import pandas as pd 
import numpy as np 

df = pd.DataFrame(datos)
copia = df
df

   curso sexo  edad nivel
0   dam1    f    18    b1
1   dam1    f    18    b2
2  asir1    m    21    c1
3  asir1    f    19    b2
4  asir1    f    22    b2
5    af1    m    32    c2
6   dam1    f    30    c1


## Pandas

### Columnas nominales (curso, sexo)

In [33]:

df = pd.get_dummies(df, columns=['curso','sexo'])
print(df)

   edad nivel  curso_af1  curso_asir1  curso_dam1  sexo_f  sexo_m
0    18    b1          0            0           1       1       0
1    18    b2          0            0           1       1       0
2    21    c1          0            1           0       0       1
3    19    b2          0            1           0       1       0
4    22    b2          0            1           0       1       0
5    32    c2          1            0           0       0       1
6    30    c1          0            0           1       1       0

### Columnas ordinales (nivel)

In [34]:
cod = pd.Categorical(df['nivel'], categories=['b1','b2','c1','c2'], ordered=True)
print(cod)

df['nivel']=cod.codes
df

['b1', 'b2', 'c1', 'b2', 'b2', 'c2', 'c1']
Categories (4, object): ['b1' < 'b2' < 'c1' < 'c2']

   edad  nivel  curso_af1  curso_asir1  curso_dam1  sexo_f  sexo_m
0    18      0          0            0           1       1       0
1    18      1          0            0           1       1       0
2    21      2          0            1           0       0       1
3    19      1          0            1           0       1       0
4    22      1          0            1           0       1       0
5    32      3          1            0           0       0       1
6    30      2          0            0           1       1       0

## sklearn

### Columnas nominales (Clase OnehotEncoder)

In [67]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd


df = copia
# Crear una instancia de OneHotEncoder
oh = OneHotEncoder(drop='first', sparse=False)

# Ajustar y transformar los datos
nuevos = oh.fit_transform(df[['curso', 'sexo']])

# Obtener los nombres de las columnas despuÃ©s de la transformaciÃ³n
column_names = oh.get_feature_names(['curso', 'sexo'])

# Crear un DataFrame con los resultados y los nombres de las columnas
df_nuevos = pd.DataFrame(nuevos, columns=column_names)

# Concatenar el DataFrame original sin las columnas y el DataFrame de las variables dummy
df = pd.concat([df, df_nuevos], axis=1)
print(df)


# Eliminar las columnas originales
df.drop(labels=['curso', 'sexo'], axis=1, inplace=True)
print(df)

<class 'pandas.core.frame.DataFrame'>
   curso sexo  edad nivel  curso_asir1  curso_dam1  sexo_m
0   dam1    f    18    b1          0.0         1.0     0.0
1   dam1    f    18    b2          0.0         1.0     0.0
2  asir1    m    21    c1          1.0         0.0     1.0
3  asir1    f    19    b2          1.0         0.0     0.0
4  asir1    f    22    b2          1.0         0.0     0.0
5    af1    m    32    c2          0.0         0.0     1.0
6   dam1    f    30    c1          0.0         1.0     0.0
   edad nivel  curso_asir1  curso_dam1  sexo_m
0    18    b1          0.0         1.0     0.0
1    18    b2          0.0         1.0     0.0
2    21    c1          1.0         0.0     1.0
3    19    b2          1.0         0.0     0.0
4    22    b2          1.0         0.0     0.0
5    32    c2          0.0         0.0     1.0
6    30    c1          0.0         1.0     0.0

c:\Users\tamar\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [68]:
oe = OrdinalEncoder(categories=[['b1','b2','c1','c2']])
df['nivel'] = oe.fit_transform(df[['nivel']])
print(df)

   edad  nivel  curso_asir1  curso_dam1  sexo_m
0    18    0.0          0.0         1.0     0.0
1    18    1.0          0.0         1.0     0.0
2    21    2.0          1.0         0.0     1.0
3    19    1.0          1.0         0.0     0.0
4    22    1.0          1.0         0.0     0.0
5    32    3.0          0.0         0.0     1.0
6    30    2.0          0.0         1.0     0.0